body {
    background-color: #FAF3E0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.steps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid black;
}

.gray {
    background-color: #D3D3D3;
}

.orange {
    background-color: #FFA500;
}

.label {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
  
}

.line {
    height: 2px;
    width: 200px;
    background-color: black;
    margin: 0 10px;
}


.tabela {
    margin: 20px auto;
    width: 40%;
    border-collapse: collapse;
}

.tabela th, .tabela td {
    border: 2px solid #d3d3d3;
    padding: 10px;
    text-align: center;
    color: #3F5ECD;;
}

.form-control {
    width: 100%;
    height: 30px;
    border: none;
}

.result input {
    width: 100%;
    height: 30px;
    border: none;
}

.button-container {
    margin-right: auto;
    justify-content: center;
    margin-top: 20px;
}

.simulate-button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.simulate-button:hover {
    background-color: #0056b3;
}

.button-container2 {
    display: flex;
    margin-left: 800px;
       
}

.jogada-button {
    
    padding: 10px 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: #007BFF;
    color: white;
    border: solid white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    
    
}

.jogada-button:hover {
    background-color: #0056b3;
}

.results-button {
    margin-left: 50px;
    padding: 10px 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: #007BFF;
    color: white;
    border: solid white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.results-button:hover {
    background-color: #0056b3;
}